::-webkit-scrollbar {
    padding: 0px 2px;
    background-color: rgba(65, 65, 65, 0.37);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    width: 10px;
    height: 50px;
    border-radius: 5px;
}

.movies__list {
    height: 480px !important;
    overflow: auto !important;
    margin: -20px 0px !important;
}

.bookmark-list {
    height: 200px !important;
    overflow: auto !important;
}

.card {
    width: 350px !important;
    margin: 20px 0px !important;
    background-color: rgba(88, 88, 88, 0.37);
    transition: all 0.5s;
}

.box-shadov-danger {
    box-shadow: 0 0 5px 5px rgba(255, 0, 0, 0.418);
}

.calendar::before {
    content: "" !important;
    display: inline-block !important;
    vertical-align: middle !important;
    background-image: url(../img/download.33.png) !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    width: 15px !important;
    height: 15px !important;
    margin-right: 15px !important;
}

.star::before {
    content: "" !important;
    display: inline-block !important;
    background-image: url(../img/download.star.png) !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    width: 15px !important;
    height: 15px !important;
    margin-right: 15px !important;
}

.close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}

.hidden {
    display: none;
}

.modals {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: rgb(255, 255, 255);
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgb(85, 85, 85);
    z-index: 10;
}

.modal-style {
    padding: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 44, 44, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.modal-desc {
    font-size: 24px;
}