.movies__list{
    margin: -20px 0px !important;
}

.card{
    width: 400px !important;
    margin: 20px 0px !important;
    background-color: rgba(65, 65, 65, 0.37);
    transition: all 0.1s;
}

.card:hover{
    transform: scale(1.009);
    box-shadow: 0 0 5px 5px rgba(184, 183, 183, 0.2);
}

/* .card-img-top{
    width: 100% !important;
    height: auto !important;
} */

.calendar::before{
    content: '' !important;
    display: inline-block !important;
    vertical-align: middle !important;
    /* display: block !important; */
    background-image: url(../img/download.33.png) !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    width: 15px !important;
    height: 15px !important;
    margin-right: 15px !important;
}

.star::before{
    content: '' !important;
    display: inline-block !important;
    /* vertical-align: middle !important; */
    background-image: url(../img/download.star.png) !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    width: 15px !important;
    height: 15px !important;
    margin-right: 15px !important;
}